<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>FitHub uses HealthKit to track your workout data and health metrics.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FitHub allows you to add photos to your workout logs.</string>
</dict>
</plist>
