<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHtB2bjA9MCs5sCYVtPwsmhVrs_4nEOeY</string>
	<key>GCM_SENDER_ID</key>
	<string>560218307632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnthonyC.FitHub</string>
	<key>PROJECT_ID</key>
	<string>fithubv1-d3c91</string>
	<key>STORAGE_BUCKET</key>
	<string>fithubv1-d3c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560218307632:ios:413d22bfd9edaf077541f5</string>
</dict>
</plist>